<section class="destinations">

<div class="title">
    <h1>Find Your Destinations here!</h1>
</div>

<div class="search_filter">

    <div class="search">
        <form class="search_form">
        <input type="text" class="searchbar" placeholder="Search for your destinations"/>
        <button type="submit" class="btn">Search</button>
        </form>
    </div>

    <div class="filter">
            <button class="btn menufilter" (click)=togglefilter()>Filter the list</button>
            <ul *ngIf="menufilter">
                <li [routerLink]="['/destinations', 'popular']">High-Low Popularity</li>
                <li [routerLink]="['/destinations']">Reset</li>
            </ul>
    </div>
</div>

<div class="Types">
    <ul class="allTypes">
        <li class="button" [routerLink]="['/destinations', 'Beaches']" routerLinkActive="active"><i class="fa-solid fa-sun" style="color: #FFD700;"></i>Beaches</li>
        <li class="button" [routerLink]="['/destinations', 'Temples']" routerLinkActive="active"><i class="fa-solid fa-place-of-worship" style="color: #FF9933;"></i>Temples</li>
        <li class="button" [routerLink]="['/destinations', 'Monuments']" routerLinkActive="active"><i class="fa-solid fa-landmark" style="color: #708090;"></i>Monuments</li>
        <li class="button" [routerLink]="['/destinations', 'Hill stations']" routerLinkActive="active"><i class="fa-solid fa-mountain" style="color: #2E8B57;"></i>Hill Stations</li>
    </ul>
</div>

<div class="cards">
    <app-destination-card *ngFor="let dest of destinations" [destination]="dest"></app-destination-card>
</div>

</section>