<section class="destinations">

<div class="title">
    <h1>Find Your Destinations here!</h1>
</div>

<div class="search_filter">
    <div class="search">
        <form class="search_form">
        <input type="text" class="searchbar" placeholder="Search for your destinations"/>
        <button type="submit" class="btn">Search</button>
        </form>
    </div>
    <div class="filter">
            <button class="btn menufilter" (click)=togglefilter()>Filter the list</button>
            <ul *ngIf="menufilter">
                <li [routerLink]="['/destinations', 'popular']">High-Low Popularity</li>
                <li [routerLink]="['/destinations', 'Beaches']">Beaches</li>
                <li [routerLink]="['/destinations', 'Temples']">Temples</li>
                <li [routerLink]="['/destinations', 'Monuments']">Monuments</li>
                <li [routerLink]="['/destinations', 'Hill stations']">Hill Stations</li>
                <li [routerLink]="['/destinations']">Reset</li>
            </ul>
    </div>
</div>

<div class="cards">
    <app-destination-card *ngFor="let dest of destinations" [destination]="dest"></app-destination-card>
</div>

</section>