*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  transition:background 0.3s ease,color 0.3s ease;
}

/* FULL APP DARK MODE */

body.dark{
  background:#071520;
  color:white;
}

/* NAVBAR */

.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1000;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:26px 6%;

  transition:
  background 0.3s ease,
  box-shadow 0.3s ease,
  backdrop-filter 0.3s ease;
}

/* HOME PAGE TRANSPARENT */

.navbar{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(10px);
}

/* WHITE NAVBAR */

.navbar.white{
  background:#f4fbfc;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

/* DARK MODE NAVBAR */

.navbar.dark{
  background:#071520;
  box-shadow:0 4px 12px rgba(0,0,0,0.35);
  backdrop-filter:none;
}

/* LOGO */

.logo h1{
  font-size:2rem;
  font-weight:700;
  letter-spacing:1px;

  color:#a1bcc1;

  text-shadow:0 1px 3px rgba(0,0,0,0.2);
}

.logo span{
  color:#1fc5db;
}

.navbar.dark .logo h1{
  color:#dceef2;
}

/* RIGHT SIDE */

.nav-right{
  display:flex;
  align-items:center;
}

/* NAV LINKS */

.nav-links{
  display:flex;
  align-items:center;
  gap:38px;
}

.nav-links li{
  list-style:none;
}

/* LINKS */

.nav-links li a{
  text-decoration:none;
  font-size:15px;
  font-weight:500;
  transition:0.3s ease;
}

/* HOME TRANSPARENT */

.navbar:not(.white):not(.dark) .nav-links li a{
  color:white;
}

/* WHITE MODE */

.navbar.white .nav-links li a{
  color:#0A2540;
}

/* DARK MODE */

.navbar.dark .nav-links li a{
  color:white;
}

/* HOVER */

.nav-links li a:hover{
  color:#1fc5db !important;
}

/* ACTIVE */

.nav-links li a.active{
  color:#1fc5db !important;
  border-bottom:2px solid #1fc5db;
  padding-bottom:3px;
}

/* THEME BUTTON */

.toggle-btn{
  width:38px;
  height:38px;

  border:none;
  border-radius:50%;

  cursor:pointer;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:16px;

  transition:0.3s ease;
}

/* LIGHT */

.navbar.white .toggle-btn,
.navbar:not(.white):not(.dark) .toggle-btn{
  background:#d9f7fb;
  color:#008C9E;
}

/* DARK */

.navbar.dark .toggle-btn{
  background:#133449;
  color:#1fc5db;
}

.toggle-btn:hover{
  background:#1fc5db;
  color:white;
}

/* LOGIN BUTTON */

.login-btn{
  position:relative;
  overflow:hidden;

  display:inline-flex;
  align-items:center;
  justify-content:center;

  padding:9px 22px;

  border-radius:14px;

  text-decoration:none;

  font-size:15px;
  font-weight:600;

  transition:0.3s ease;
}

/* LIGHT */

.navbar.white .login-btn,
.navbar:not(.white):not(.dark) .login-btn{
  background:#f4fbfc;
  box-shadow:0 0 6px rgba(31,197,219,0.35);
}

/* DARK */

.navbar.dark .login-btn{
  background:#133449;
  box-shadow:0 0 6px rgba(31,197,219,0.15);
}

/* TEXT */

.login-btn span{
  position:relative;
  z-index:2;
}

/* LIGHT TEXT */

.navbar.white .login-btn span,
.navbar:not(.white):not(.dark) .login-btn span{
  color:#0A2540;
}

/* DARK TEXT */

.navbar.dark .login-btn span{
  color:white;
}

/* HOVER EFFECT */

.login-btn::before{
  content:"";

  position:absolute;
  top:0;
  left:0;

  width:0%;
  height:100%;

  background:#1fc5db;

  transition:width 0.4s ease;
}

.login-btn:hover::before{
  width:100%;
}

.login-btn:hover span{
  color:white;
}

/* MENU BUTTON */

.menu-btn{
  display:none;

  border:none;
  background:none;

  font-size:25px;
  cursor:pointer;
}

/* LIGHT */

.navbar.white .menu-btn,
.navbar:not(.white):not(.dark) .menu-btn{
  color:#0A2540;
}

/* DARK */

.navbar.dark .menu-btn{
  color:white;
}

/* PROFILE */

.profile-container{
  position:relative;
}

/* PROFILE BUTTON */

.user-prof{
  position: relative;
  width:38px;
  height:38px;

  border:none;
  border-radius:50%;

  background:#1fc5db;
  color:white;

  font-weight:600;

  cursor:pointer;
}

/* DROPDOWN */


.dropdown-menu{

  position:absolute;

  top:55px;
  right:0;

  width:180px;

  padding:8px 0;

  border-radius:14px;

  overflow:hidden;

  z-index:9999;

  backdrop-filter:blur(12px);

  animation:dropdownFade 0.25s ease;

  transition:0.3s;
}

/* LIGHT + TRANSPARENT NAVBAR */

.navbar.white .dropdown-menu,
.navbar:not(.dark):not(.scrolled) .dropdown-menu{

  background:rgba(255,255,255,0.92);

  color:#0A2540;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.12);

  border:1px solid rgba(255,255,255,0.4);
}

/* DARK NAVBAR */

.navbar.dark .dropdown-menu{

  background:rgba(16,37,52,0.95);

  color:white;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.35);

  border:1px solid rgba(255,255,255,0.06);
}

/* LIST */

.dropdown-menu li{
  list-style:none;
}

/* LINKS + BUTTON */

.dropdown-menu a,
.logout-btn{

  width:100%;

  border:none;
  background:none;

  display:flex;
  align-items:center;

  text-align:left;

  padding:12px 18px;

  font-size:14px;

  font-family:'Poppins',sans-serif;

  font-weight:500;

  cursor:pointer;

  text-decoration:none;

  color:inherit;

  transition:0.25s ease;
}

/* FIX INVISIBLE LINKS */

.dropdown-menu li a{
  color:inherit;
}

/* LIGHT HOVER */

.navbar.white .dropdown-menu a:hover,
.navbar.white .logout-btn:hover,

.navbar:not(.dark):not(.scrolled)
.dropdown-menu a:hover,

.navbar:not(.dark):not(.scrolled)
.logout-btn:hover{

  background:#e8f9fb;

  color:#008C9E;
}

/* DARK HOVER */

.navbar.dark .dropdown-menu a:hover,
.navbar.dark .logout-btn:hover{

  background:#16374d;

  color:#1fc5db;
}



/* ANIMATION */

@keyframes dropdownFade{
  from{
    opacity:0;
    transform:translateY(-10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* MOBILE */

@media(max-width:768px){

  .menu-btn{
    display:block;
  }

  .nav-links{
    position:absolute;

    top:72px;
    right:0;

    width:0;
    height:100vh;

    overflow:hidden;

    flex-direction:column;
    align-items:center;

    gap:35px;

    padding-top:40px;

    transition:0.3s ease;
  }

  /* LIGHT MOBILE */

  .navbar.white .nav-links,
  .navbar:not(.white):not(.dark) .nav-links{
    background:#f4fbfc;
  }

  /* DARK MOBILE */

  .navbar.dark .nav-links{
    background:#071520;
  }

  .nav-links.open{
    width:60%;
  }

  .nav-links li a{
    font-size:16px;
  }

  /* LIGHT */

  .navbar.white .nav-links li a,
  .navbar:not(.white):not(.dark) .nav-links li a{
    color:#0A2540;
  }

  /* DARK */

  .navbar.dark .nav-links li a{
    color:white;
  }

  .profile-container .dropdown-menu{
    top:auto;
    bottom:45px;
    left:50%;
    transform:translateX(-50%);
  }
}