<section class="auth_form">
    <div class="heading">Sign Up</div>
            <form [formGroup]="signupform" (ngSubmit)=submit() class="signup_form">
                    <div class="form_com">
                        <label for="name">Name: </label>
                        <input type="text" id="name" placeholder="Enter your name" formControlName="Name"/>
                    </div>
                    <div class="form_com">
                        <label for="email">Email: </label>
                        <input type="email" id="email" placeholder="Enter your email" formControlName="email">
                        <div *ngIf="submitted && signupform.controls['email'].errors?.['required']"
                            class="pass_errors">
                            Email is required
                        </div>

                        <div *ngIf="submitted && signupform.controls['email'].errors?.['email']"
                            class="pass_errors">
                        Invalid email address
                        </div>
                    </div>
                    <div class="form_com">
                        <label for="password">Password:<span>(min 8 chars, 1 letter, 1 number, 1 special char)</span></label>
                        <input type="text" id="password" placeholder="Enter your password" formControlName="password"/>
                            <div *ngIf="submitted && signupform.controls['password'].errors?.['required']" class="pass_errors">
                                Password is required
                            </div>
                            <div *ngIf="submitted && signupform.controls['password'].errors?.['minlength']" class="pass_errors">
                                Password must be at least 8 characters
                            </div>
                            <div *ngIf="submitted && signupform.controls['password'].errors?.['pattern']" class="pass_errors">
                                Must contain letter, number, and special character
                            </div>
                    </div>
                    <div class="form_com">
                        <label for="cpassword">Confirm Password: </label>
                        <input type="text" id="cpassword" placeholder="Enter the password again" formControlName="cpassword"/>
                        <div *ngIf="submitted && signupform.controls['cpassword'].errors?.['mismatch']" class="pass_errors">
                            Passwords do not match
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="btn" type="submit">Create Account</button>
                        <a>Already have an account? Login</a>
                    </div>
                </form>
</section>
