.signup {
  padding:120px;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.signup::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('/assets/balloons.jpg') center/cover no-repeat;
  filter: blur(8px);
  transform: scale(1.1); 
  z-index: -1;
}
.main_signupcard {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
.signup_left {
  background: url('/assets/balloons.jpg') center/cover no-repeat;
  position: relative;
}

.signup_left .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  color: white;
  font-weight:600;
  padding:20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup_left .overlay h2{
    font-size:28px;
    margin-bottom:18px;
}
.overlay p{
    font-size:16px;
}
.signup_right {
  padding: 40px;
}

.heading {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  color: #0089ce;
  margin-bottom: 20px;
}
.form_com {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form_com label {
  font-weight: 600;
  margin-bottom: 5px;
}

.form_com input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.small_text {
  font-size: 11px;
  color: gray;
  font-weight: normal;
  margin-left: 5px;
}
.pass_errors {
  font-size: 11px;
  color: red;
  margin-top: 3px;
}

@media (max-width: 768px) {
  .main_signupcard {
    grid-template-columns: 1fr;
  }
  .signup_left {
    height: 200px;
  }
}