nav{
    padding:1% 5%;
    display: flex;
    align-items: center;
    background-color: #008c9e;
    position: sticky;
    top:0;
    z-index:1000;
}
.logo{
    margin-right:auto;
}

.nav-links{
   display: flex;
   gap:50px;
   align-items: center;
}

.nav-links li{
    list-style: none; 
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.nav-links li a{
    text-decoration: none;
    color:white;
}

.nav-links li a:hover{
    color:darkblue;
}
.menu-btn{
    display:none;
    color:white;
    border:none;
    background:none;
    cursor:pointer;
}
.toggle_btn{
    background-color: rgba(255,255,255,0.15);
    color:white;
    border-radius: 12px;
    padding:6px 10px;
    border: none;
    transition: transform 0.3s ease;
}
.toggle_btn:hover{
    background-color: rgba(255,255,255,0.25);
    color:white;
    transform:translateY(-3px);
}
.login_btn {
  position:relative;
  overflow:hidden;
  background: white;
  cursor:pointer;
  border:none;
  color: #008C9E;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: 600;
  transition: background-color 0.5s ease;
}
.login_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #1fc5db;
  transition: width 0.5s ease;
  z-index: 0;
}
.login_btn span {
  position: relative;
  z-index: 1;
}
.login_btn:hover::before {
  width: 100%;
  
}


.login_btn:hover {
  color:white;
}


@media (max-width:768px){
    .menu-btn{
        display:block;
    }
    .nav-links{
        position:absolute;
        top:46px;
        right:0;
        height:100vh;
        flex-direction: column;
        align-items: center;
        width:0;
        background-color:#008c9e ;
        overflow: hidden;
        transition:width 0.3s ease;
    }
    .nav-links.open{
        width: 50%;
    }
    .nav-links li{
        padding: 1rem 0;
    }
}