<nav [class.scrolled]="isScrolled" [class.white]="iswhite">
    <div class="logo">
        <h1>Yatri<span>Go</span></h1>
    </div>

    <div class="nav-right">
        <button class="menu-btn" (click)=togglemenu()>
            <i class="fa"[ngClass]="menuOpen?'fa-times': 'fa-bars'"></i>
        </button>
        <ul class="nav-links" [class.open]="menuOpen">
            <li><a routerLink="/" routerLinkActive="active" (click)=togglemenu()>Home</a></li>
            <li><a routerLink="/destinations" routerLinkActive="active" (click)=togglemenu()>Destinations</a></li>
            <li><a routerLink="/booking" routerLinkActive="active" (click)=togglemenu()>Book a Tour</a></li>
            <li><a routerLink="/contact" routerLinkActive="active" (click)=togglemenu()>Contact</a></li>
            <li><button class="toggle_btn" (click)=togglemenu2()>
                <i *ngIf="dark;else sun" class="fa-solid fa-moon"></i>
                <ng-template #sun>
                    <i class="fa-solid fa-sun"></i>
                </ng-template>
            </button></li>
            <li *ngIf="loggedin; else signupbtn" class="profile_container" ><a  (click)="toggledropdown()" class="user_prof">{{firstchar}}</a>
                <ul class="dropdown-menu" *ngIf="profiledropdown">

    <li>
      <a routerLink="/profile"
         (click)="profiledropdown=false">
         Profile
      </a>
    </li>

    <li>
      <a routerLink="/bookings"
         (click)="profiledropdown=false">
         My Bookings
      </a>
    </li>

    <li>
      <a (click)="logout()">
         Logout
      </a>
    </li>

  </ul>
            </li>
            <ng-template #signupbtn>
                <li><a routerLink="/auth/login" routerLinkActive="active" (click)="togglemenu()" class="login_btn"><span>Signin</span></a></li>
            </ng-template>
            
        </ul>
    </div>
</nav>