nav{
    padding:1.5% 10%;
    display: flex;
    align-items: center;
    position: fixed;
    width:100%;
    top:0;
    z-index:1000;
    background:rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
}

.logo{
    margin-right:auto;
    padding-right:20px;
}
.logo h1{
    color:#a1bcc1;
    font-weight:700;
    letter-spacing: 1px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.25);
}
.logo span{
    color:#1fc5db
}

nav.scrolled,nav.white{
    background:#f4fbfc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
nav.scrolled .nav-links a,nav.white .nav-links a{
    color:#0A2540;
}

nav.scrolled .nav-links a:hover,nav.white .nav-links a:hover{
    color:#008C9E;
}

/* nav.scrolled .logo h1,nav.white .logo h1{
    color:#008C9E;
} */
nav{
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.nav-links{
   display: flex;
   gap:50px;
   align-items: center;
}

.nav-links li{
    list-style: none; 
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.nav-links li a{
    text-decoration: none;
    color:white;
    font-weight: 500;
}

.nav-links li a:hover{
    color:rgb(1, 1, 14);
}
.nav-links li a.active{
    color:#1fc5db;
    border-bottom:2px solid #1fc5db;
}
.menu-btn{
    display:none;
    color:white;
    border:none;
    background:none;
    cursor:pointer;
}
.toggle_btn{
    background-color: #a4ebf5;
    color:#90afb4;
    border-radius: 12px;
    padding:6px 10px;
    border: none;
    transition: transform 0.3s ease;
}
.toggle_btn:hover{
    background-color:#1fc5db;
    color:white;
    transform:translateY(-3px);
}
.login_btn {
  position:relative;
  overflow:hidden;
  display: inline-block;
  background: #f4fbfc;
  color:#0A2540;
  cursor:pointer;
  border:none;
  color: #008C9E;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: 600;
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 4px #08c4dd;
  z-index: 1;
}
.login_btn::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0%;
  background: #1fc5db;
  transition: width 0.5s ease;
  z-index: 0;
}
.login_btn span {
  position: relative;
  color:#0A2540;
  z-index: 2;
}
.login_btn:hover::before {
  width: 100%;
  
}


.login_btn:hover span {
  color:white;
}
.menu-btn{
    color:#0A2540;
    font-size: 22px;
}
.user_prof {
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #4caf50;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width:768px){
    .menu-btn{
    display:block;
    font-size:24px;
    background:none;
    border:none;
    cursor:pointer;
    }
    .nav-links{
        position:absolute;
        top:46px;
        right:0;
        height:100vh;
        flex-direction: column;
        align-items: center;
        width:0;
        background-color:#f4fbfc;
        overflow: hidden;
        transition:width 0.3s ease;
    }
    
    .nav-links.open{
        width: 50%;
    }
    .nav-links li a{
        color:#0A2540;
        font-size: 16px;
    }
    .nav-links li a:hover{
        color:#1fc5db;
    }
    .nav-links li{
        padding: 1rem 0;
    }
}