nav{
    padding:1% 5%;
    display: flex;
    align-items: center;
    background-color: #008c9e;
    position: sticky;
    top:0;
    z-index:1000;
}
.logo{
    margin-right:auto;
}

.nav-links{
   display: flex;
   gap:50px;
}

.nav-links li{
    list-style: none; 
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.nav-links li a{
    text-decoration: none;
    color:white;
}

.nav-links li a:hover{
    color:darkblue;
}
.menu-btn{
    display:none;
    color:white;
    border:none;
    background:none;
    cursor:pointer;
}


@media (max-width:768px){
    .menu-btn{
        display:block;
    }
    .nav-links{
        position:absolute;
        top:52px;
        right:0;
        height:100vh;
        flex-direction: column;
        align-items: center;
        width:0;
        background-color:#008c9e ;
        overflow: hidden;
        transition:width 0.3s ease;
    }
    .nav-links.open{
        width: 50%;
    }
    .nav-links li{
        padding: 1rem 0;
    }
}