.signup {
  padding:40px;
  padding-top:120px;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.signup::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('/assets/balloons.jpg') left/cover no-repeat;
  filter: blur(8px);
  transform: scale(1.1); 
  z-index: -1;
}
.main_signupcard {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
.signup_left {
  background: url('/assets/balloons.jpg') left/cover no-repeat;
  position: relative;
}

.signup_left .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  color: white;
  font-weight:600;
  padding:20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup_left .overlay h2{
    font-size:28px;
    line-height: 1.3;
    margin-bottom:18px;
}
.overlay p{
    font-size:16px;
}
.signup_right {
  padding: 40px;
}



@media (max-width: 768px) {
  .main_signupcard {
    grid-template-columns: 1fr;
  }
  .signup_left {
    height: 200px;
  }
}