
.pop_dests{
    padding:5%;
    background-color:#FFFFFF;
    position:relative;
    z-index:2;
}


.heading{
    text-align:center;
    font-size: 22px;
   color: #0f172a;
  font-weight: 700; 
}

.type{
    font-size: 20px;
    color: #64748b;
}

.pop_destbar{
    padding:5% 0;
}

.pop_destbar .type{
    text-align:center;
    margin-bottom:20px;
}

.bar{
    position: relative;
    padding:5% 0;
    display:grid;
    gap:30px;
    grid-template-columns:repeat(auto-fit,minmax(300px,350px));
    justify-content:center;
}
.All{
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom:-40px;
    right:50px;
}
.All .btn{
    padding:15px;
    border-radius: 25px;
}

.bar_card{
    position:relative;
    height:300px;
    border-radius:15px;
    overflow:hidden;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:flex-end;
    box-shadow:0 12px 24px rgba(0,0,0,0.25);
    transition:transform .3s ease;
}

.bar_card:hover{
    transform:translateY(-8px);
}


.hover_con{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50%;   
    background:linear-gradient(
        transparent,
        rgba(0,0,0,0.75)
    );
    padding:20px;
    display:flex;
    align-items:flex-end;
    transform:translateY(100%);
    transition:0.4s ease;
}

.bar_card:hover .hover_con{
    transform:translateY(0);
}

.content{
    color:white;
    width:100%;
    display:grid;
    gap:10px;
}

.content h3{
    margin:0;
}

.content p{
    font-size:14px;
    line-height:1.4;
}

.btn{
    margin-left:auto;   
    padding:8px 14px;
    border:none;
    border-radius:15px;
    color:white;
    cursor:pointer;
    transition:0.2s;
    text-decoration: none;
}

@media (max-width:600px){
    .bar_card{
        height:260px;
    }

    .hover_con{
        height:60%;
    }
}
