/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.btn{
    background-color:#008c9e;; 
    color: #FFFFFF;
    padding:12px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    border-style: none;
    font-family: 'Poppins', sans-serif;
}
.btn:hover{
    background-color: #006D7A;
}