.hero{
    text-align: center;
   background: 
  linear-gradient(
  to bottom,
  rgba(0,0,0,0.45),
  rgba(0,0,0,0.45)
),
  url('/assets/hero_img4.jpg') center/cover no-repeat;
    display: flex;
    gap: 50px;
    flex-direction: column;
    min-height:100vh;
    height:auto;
    justify-content: center;
    align-items: center;
}
.desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading{
    color: #FFFFFF;
  font-weight: 700;
  text-shadow: 0 6px 20px rgba(0,0,0,0.35);
}

.matter{
    color: #F1F5F9;
  text-shadow: 0 4px 12px rgba(0,0,0,0.35);
}
.highlight{
    color: #008C9E;             
    font-weight: 800;
}

.cta{
    display: flex;
    gap:50px;
}
.btn{
    background-color:#008c9e;; 
    color: #FFFFFF;
    padding:12px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    border-style: none;
    font-family: 'Poppins', sans-serif;
}
.btn:hover{
    background-color: #006D7A;
}

@media (max-width:768px) {
    .hero{
        padding:0% 25px;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .hero{
        padding:0px 5%;
    }
}