<section class="analytics">

    <div class="heading">Booking Status Analytics</div>

    <div class="analytics_card">
        <div class="card_header">
            <h3>Booking Distributions</h3>
            <p>Bookings across all destinations</p>
        </div>
        <div class="card_body">
            <canvas id="bookingBarChart"></canvas>
        </div>
    </div>

    <div class="analytics_card">
        <div class="card_header">
            <h3>Destination Popularity</h3>
            <p>Percentage share of total bookings</p>
        </div>
        <div class="card_body">
            <canvas #popularityPieChart></canvas>
        </div>
    </div>

    <div class="analytics_card insights_card">
        <div class="card_header">
            <h3>Destination Insights</h3>
        </div>

        <div class="insights_container">

           <div class="insight_box">
            <div class="header">
                <h4>Most Booked Destinations</h4>
            </div>
            <div class="destination_item" *ngFor="let d of topDestinations">
                <span class="destination_name">{{d.destination}}</span>
                <span class="destination_count">{{d.count}}</span>
            </div>
           </div>

           <div class="insight_box">
            <div class="header">
                <h4>Least Booked Destinations</h4>
            </div>
                <div class="destination_item" *ngFor="let d of leastDestinations">
                    <span class="destination_name">{{d.destination}}</span>
                    <span class="destination_count">{{d.count}}</span>
                </div>
           </div>

        </div>
    </div>

    <!-- <div class="analytics_card">
        <div class="card_header">
            <h3>Monthly Destination popularity</h3>
            <select (change)="">
                <option value="">Select Month</option>
                <option *ngFor="" [value]=""></option>
            </select>
        </div>

        <div class="card_body">
            <canvas id="monthlyBarChart"></canvas>
        </div>
    </div> -->


</section>
