.analytics{
    padding:120px 10%;
    background:#f7fbfc;
    min-height:100vh;
}

.heading{
    text-align: center;
    font-size: 28px;
    font-weight:600;
    margin-bottom: 40px;
    color:#0A2540;
}

.analytics_card {
    background: white;
    border-radius: 14px;
    padding: 28px;
    margin-bottom: 35px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.analytics_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card_header h3 {
    font-size: 18px;
    color: #0A2540;
}

.card_header p {
    font-size: 14px;
    color: gray;
}

.card_body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}

.insights_container {
    display: flex;
    gap:30px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.insight_box{
    flex:1;
    background:#f8fcfd;
    padding:18px;
    border-radius: 10px;
}
.insight_box h4{
    margin-bottom: 14px;
    color:#0A2540;
}

.destination_item{
    display: flex;
    justify-content: space-between;
    padding:8px 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.destination_name{
    font-weight:500;
}

.destination_count{
    color:#089cce;
    font-weight: 600;
}


select {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width: 1024px) {

.analytics {
    padding: 100px 8%;
}

.analytics_card {
    padding: 24px;
}

.card_body {
    height: 260px;
}

.insights_container {
    gap: 30px;
}

}


/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width: 768px) {

.analytics {
    padding: 90px 6%;
}

.heading {
    font-size: 24px;
    margin-bottom: 30px;
}

.analytics_card {
    padding: 20px;
    margin-bottom: 25px;
}

.card_header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.card_body {
    height: 220px;
}

.insights_container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.insight_box {
    text-align: center;
}

select {
    width: 100%;
}

}


/* ========================= */
/* SMALL MOBILE */
/* ========================= */

@media (max-width: 480px) {

.analytics {
    padding: 80px 5%;
}

.heading {
    font-size: 20px;
}

.card_body {
    height: 200px;
}

.analytics_card {
    border-radius: 10px;
}

.insight_box h4 {
    font-size: 18px;
}

}